{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="login-container">
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <br>
            <button type="submit" value="login">Log In</button>
            <p>Not Registered? <a href="{% url 'register' %}">Register here!</a></p>
        </form>
    </div>
</div>
{% endblock content %}