{% extends 'main.html' %}
{% block content %}
<h1>Welcome, {{ user.username }}!</h1>
<button class="logout"><a href="{% url 'logout' %}">Logout</a></button>
<h2>All Credentials</h2>
<div class="container">
    {% if creds %}
    {% for c in creds %}
    <div class="creds-container">
        <!--
            Display credentials here and the website they are used for.
            If the credentials are expired, display a warning message
            to the user to generate new credentials.
        -->
        <h4>{{ c.site_name }}</h4>
        <ul>
            <li>Username: {{ c.username }}</li>
            <li>Email: {{ c.email_address }}</li>
            {% if c.expiry_date %}
            <li>Expires: {{ c.expiry_date|date:"d-M-Y" }}</li>
            {% endif %}
            <br>
            <button class="del-creds-btn"><a href="{% url 'delete-creds' c.pk %}">Delete</a></button>
            <button class="edit-creds-btn"><a href="{% url 'edit-creds' c.pk %}">Edit</a></button>
        </ul>
    </div>
    {% endfor %}
    {% else %}
    <h2>There are no credentials on your account.</h2>
    {% endif %}
    <button class="add-creds-btn"><a href="{% url 'add-creds' user.pk %}">Add New Credentials!</a></button>
</div>
{% endblock content %}